[submodule "start/vim-pug"]
	path = start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "start/vim-javascript"]
	path = start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "start/vim-vue"]
	path = start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "start/vim-jsx"]
	path = start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
